option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 8080
    JAVA_OPTS: "-Xmx512m -Xms256m"
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xmx: 512m
    Xms: 256m
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7