files:
  "/etc/nginx/conf.d/ssl_headers.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
      add_header X-Content-Type-Options nosniff always;
      add_header X-Frame-Options DENY always;