<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <display-name>Clockify</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public Resources</web-resource-name>
            <description>Allow public access to static resources.</description>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/js/*</url-pattern>
            <url-pattern>/images/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>
    
    <servlet>
        <servlet-name>StripeWebhookServlet</servlet-name>
        <servlet-class>timeclock.auth.StripeWebhookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>StripeWebhookServlet</servlet-name>
        <url-pattern>/stripe-webhook</url-pattern>
    </servlet-mapping>
    
</web-app>